<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="::::" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="/resources/images/common/og.png" />
    <title>Title</title>
    {{ render "layouts/resource.html"}}
</head>
<body>
    {{ render "layouts/header.html"}}

    {{ yield }}

    <div class="footer">
        {{ render "layouts/footer.html"}}
    </div>

</body>
</html>