<script type="text/javascript">
    $(document).ready(function(){

    });

    var DoBbs = {
        insertProc : function(){
            if ( $("#nttSj").val().length == 0 ){
                alert("제목을 입력 해주세요.");
                $("#nttSj").focus();
                return;
            }
            if ( $("#nttCn").val().length == 0 ){
                alert("내용을 입력 해주세요.");
                $("#nttCn").focus();
                return;
            }
            $.ajax({
                url : "/bbs/insert/{{.dataMap.bbsId}}",
                type : "post",
                data : {
                    "nttSj" : $("#nttSj").val(),
                    "nttCn" : $("#nttCn").val()
                },
                success : function(rs){
                    if ( rs.result >= 0 ){
                        alert("저장 되었습니다.");
                        location.href = "/bbs/detail/{{.dataMap.bbsId}}/" + rs.nttSn;
                    }
                }
            });
        }
    };
</script>

<form name="bbsForm" id="bbsForm" method="post">
    <input type="hidden" name="nttSn" id="nttSn" />
<table border="1">
    <thead>
    </thead>
    <tbody>
    <tr>
        <th>제목</th>
        <td><input type="text" name="nttSj" id="nttSj" /></td>
    </tr>
    <tr>
        <th>내용</th>
        <td><textarea name="nttCn" id="nttCn"></textarea></td>
    </tr>
    </tbody>
</table>
</form>

<a href="javascript:DoBbs.insertProc()">확인</a>
<a href="/bbs/list/{{.dataMap.bbsId}}">취소</a>