<script type="text/javascript">
    $(document).ready(function(){

    });

    var DoBbs = {
      detail : function(nttSn){
          location.href = "/bbs/detail/{{.dataMap.bbsId}}/" + nttSn;
      },
      refreshList : function(pageIndex){
          $("#bbsForm > #pageIndex").val(pageIndex);
          $("#bbsForm").attr("action", "/bbs/list/{{.dataMap.bbsId}}");
          $("#bbsForm").submit();

      }
    };
</script>
<form name="bbsForm" id="bbsForm" method="post">
    <input type="hidden" name="pageIndex" id="pageIndex" value="{{.dataMap.pageIndex}}" />
    <input type="hidden" name="nttSn" id="nttSn" />

<table border="1">
    <thead>
    <tr>
        <th>제목</th>
        <th>내용</th>
    </tr>
    </thead>
    <tbody>
    {{ range $index, $results := .dataMap.bbsList }}
    <tr>
        <td><a href="javascript:DoBbs.detail('{{.NTT_SN}}')">{{.NTT_SJ}}</a></td>
        <td>{{.NTT_CN}}</td>
    </tr>
    {{ end }}
    </tbody>
</table>
    {{ .pagination }}
</form>
<a href="/bbs/insert/{{.dataMap.bbsId}}">등록</a>